<template>
  <v-card>
    <v-card-title>
      Test Component
    </v-card-title>
    <v-card-text>
      <v-list>
        <v-list-tile>
          This component requires the test module.
        </v-list-tile>
        <v-list-tile>
          <code>this.$store.state.test.isATest</code>: {{testValue}}  
        </v-list-tile>

        <v-list-group>
          <v-list-tile slot="activator">
            <v-list-tile-content>
              <v-list-tile-title>This component uses the vuetify components:</v-list-tile-title>
            </v-list-tile-content>
          </v-list-tile>
          <v-list>
            <v-list-tile v-for="comp in vuetifyComponents" :key="comp.id">
              &lt;{{comp}}&gt;
            </v-list-tile>
          </v-list>
        </v-list-group>

      </v-list>
    </v-card-text>
  </v-card>

</template>

<script>
import module from '../store/modules/test/store.js'


export default {
  name: 'Test',
  props: {
    namespace: {
      default: 'test',
      type: String
    }
  },
  data: () => ({
    vuetifyComponents: [
      'v-card', 'v-card-title', 'v-card-text',
      'v-list', 'v-list-tile', 'v-list-group', 'v-list-tile-content',
      'v-list-tile-title'

    ]
  }),
  computed: {
    testValue: {
      get() { return this.$store.state[this.namespace].isATest },
      set(v) { this.$store.commit(`${this.namespace}/set`, {k: 'isATest', v:v} ) }
    }
  },
  created() {
    if (!(this.namespace in this.$store.state)) {
      this.$store.registerModule(this.namespace, module)
    }
  }
}
</script>

<style>
</style>
